<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Details</title>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #007acc;
            color: #fff;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Teacher Details</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Jatin Saini</td>
            <td>Mathematics</td>
            <td>jatin.saini@gmail.com</td>
        </tr>
        <tr>
            <td>saswat</td>
            <td>Science</td>
            <td>saswat@gmail.com</td>
        </tr>
        
    </table>
</body>
</html>
